/*===== Google Fonts ======*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Signika:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
/*===== Global Css ======*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Signika", sans-serif;
  --BASE_COLOR: #fafafa;
  --SECONDARY_COLOR: black;
  --ACCENT_COLOR: #fb601c;
  --ACCENT_COLOR_LIGHT: rgb(242, 224, 206);
  --LIGHT_GRAY: rgb(207, 201, 201);
  background-color: var(--BASE_COLOR);
  color: var(--SECONDARY_COLOR);
}

body.dark {
  --BASE_COLOR: #000000;
  --SECONDARY_COLOR: rgb(199, 198, 198);
  --ACCENT_COLOR: #fb601c;
  --ACCENT_COLOR_LIGHT: #000000;
}

/* @font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-display: swap;
}

html {
  font-family: "Inter", sans-serif;
  font-weight: normal;
} */

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 0 0px;
}

.dark .container {
  background-color: var(--BASE_COLOR);
  color: var(--SECONDARY_COLOR);
}

.mobile-nav {
  display: none;
}

nav {
  display: flex;
  padding: 15px 20px 15px 20px;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  align-items: center;
  border-bottom: 1px solid transparent;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  border: 2px solid transparent;
  min-width: 100px;
}

nav ul li a:hover {
  border-bottom-color: var(--ACCENT_COLOR);
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-self: flex-end;
  margin-left: auto;
  padding-right: 2rem;
}

.sun {
  background: url(assets/icons/sun-dark.svg) no-repeat center;
  background-size: 100%;
}

.dark .sun {
  background: url(assets/icons/sun-light.svg) no-repeat center;
}

.dark .moon {
  background: url(assets/icons/moon-light.svg) no-repeat center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 6px;
}

.moon {
  background: url(assets/icons/moon-dark.svg) no-repeat center;
  background-size: 100%;
}

.sun,
.moon {
  width: 17px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--ACCENT_COLOR);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--BASE_COLOR);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--ACCENT_COLOR);
}

.dark .slider {
  background-color: var(--ACCENT_COLOR);
}

input:focus + .slider {
  box-shadow: 0 0 1px #bae67e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

a {
  color: var(--LIGHT_WHITE);
  text-decoration: none;
  text-align: center;
  display: block;
}

#welcome-section {
  display: grid;
  justify-content: center;
  min-height: 100dvh;
}

.heading-section {
  text-align: center;
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.heading-section h1 {
  font-size: 2.8rem;
}

.heading-section p {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: italic;
  width: 60%;
  text-align: center;
  text-justify: none;
  line-height: 1.9rem;
}

.introduction-section .designation {
  font-size: medium;
  font-weight: 700;
  color: var(--ACCENT_COLOR);
}

.resume {
  color: var(--BASE_COLOR);
  background-color: var(--ACCENT_COLOR);
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 0.9rem;
}

.dark .resume {
  color: white;
}

.resume i {
  width: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.title {
  font-size: 32px;
  padding-bottom: 1rem;
}

.projects {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  padding: 1rem;
}

.project {
  position: relative;
  /* width: 18%; */
  height: 25rem;
  background-size: cover;
  background-position: center;
  transition: width 0.3s ease;
  border-radius: 15px;
}

.project:hover {
  width: 100%;
}

#project-0 {
  background-image: url("assets/images/Courses.jpg");
  background-size: cover;
}

#project-1 {
  background-image: url("assets/images/B2B.jpg");
  background-size: cover;
}

#project-2 {
  background-image: url("assets/images/e-commerce.jpg");
  background-size: cover;
}

#project-3 {
  background-image: url("assets/images/Restaurant.jpg");
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
  border-radius: 15px;
}

.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding-right: 20px;
  color: white;
  text-align: left;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.content img {
  width: 25px;
  display: none;
  cursor: pointer;
}

.project:hover .content img {
  display: block;
}

.list p {
  border-bottom: 1px solid var(--ACCENT_COLOR);
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.about-section {
  width: 80%;
  max-width: 80%;
}

.about-section h2 {
  text-align: left;
}

.about-section p {
  font-size: 17.5px;
  text-align: left;
  margin-top: 1.5rem;
  line-height: 1.8rem;
}

.info-section {
  background-color: #e2e8f0;
  color: #000;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
}

.dark .info-section {
  color: var(--SECONDARY_COLOR);
  background-color: var(--BASE_COLOR);
  border: 1px solid var(--SECONDARY_COLOR);
}

.info-section h2 {
  font-size: 2rem;
  font-weight: bold;
}

.info-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.info-section li {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-size: 16px;
  justify-content: left;
}

.info-section li i {
  font-size: 18px;
  color: var(--ACCENT_COLOR);
}

.tab-links {
  font-family: "Signika", sans-serif;
}

.tech-stack {
  margin: auto;
  padding: 20px;
  max-width: 1200px;
}

.tech-stack p {
  margin-bottom: 1rem;
}

.tech-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  padding: 50px;
  margin: auto;
  justify-content: center;
}

.tech-grid i {
  font-size: 2 rem;
}

.tech-item {
  text-align: left;
  font-size: 1.4rem;
  padding-left: 8px;
}

.tech-item p {
  display: flex;
  align-items: center;
  gap: 15px;
}

.experience-section {
  margin: auto;
  padding: 1.5rem 0;
  max-width: 1200px;
  height: 460px;
}

.experience-section > * + * {
  margin-top: 1rem;
}

.experience-section .tab-links {
  padding: 1rem;
  border: none;
  border-left: 3px solid var(--ACCENT_COLOR_LIGHT);
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 150px;
  font-size: 0.8rem;
  transition: border-color 0.2s ease-in;
  color: var(--SECONDARY_COLOR);
}

.experience-section button:hover {
  background-color: var(--ACCENT_COLOR_LIGHT);
}

.experience-section button.active {
  border-color: var(--ACCENT_COLOR);
  background-color: var(--ACCENT_COLOR_LIGHT);
  color: var(--ACCENT_COLOR);
}

.experience-details-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  gap: 2.5rem;
  min-height: 200px;
}

.experience-nav {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.experience-description {
  line-height: 1.5rem;
  width: 80%;
}

.section-item-description {
  padding-left: 1rem;
  list-style-type: none;
  padding-top: 1rem;
}

.section-item-description li {
  list-style: none;
  display: flex;
  align-items: start;
  gap: 10px;
}

.section-item-description li img {
  width: 13px;
  height: 13px;
  margin-top: 6px;
}

.project-section {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.experience-section h2,
.project-section h2,
.tech-stack h2 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.divider {
  width: 90px;
  background: var(--SECONDARY_COLOR);
  height: 1px;
}

.job-company {
  color: var(--ACCENT_COLOR);
  font-style: normal;
}

.job-duration {
  font-size: 0.8rem;
}

.footer {
  border-top: 1px solid var(--SECONDARY_COLOR);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 40px 20px;
  width: 100%;
}

.dark .footer {
  background-color: var(--BASE_COLOR);
  color: var(--SECONDARY_COLOR);
  border-top: 1px solid var(--SECONDARY_COLOR);
}

.para {
  width: 60%;
}

.para :first-child {
  padding-bottom: 1rem;
}

.list {
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.nav ul,
.list ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.project-section-mobile-view {
  display: none;
}

.menu-bar {
  display: none;
}

.project-mobile-show-hide {
  display: none;
}
.project-desktop-show-hide {
  display: block;
}
@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .tech-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: auto;
  }

  .experience-section .tab-links {
    padding: 14px;
    width: 50%;
    white-space: nowrap;
  }

  .section-item-description {
    padding-left: 0rem;
    list-style-type: none;
    padding-top: 0rem;
  }

  .project-section {
    display: none;
  }

  .project-section-mobile-view {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .projects-mobile {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    gap: 1rem;
  }

  .project-mobile img {
    width: 100%;
    height: 100%;
  }

  .project-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid #ffffffa8;
    border-top: none;
    width: 100%;
  }

  .link-project img {
    width: 10px;
    height: 20px;
  }
  .project-title {
    padding: 0.5rem;
    font-weight: 500;
    width: 50%;
  }

  .link-project {
    width: 10%;
  }

  .project-mobile {
    width: 48%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-size {
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 100%;
    background-size: cover;
  }

  .experience-details-container {
    flex-direction: column;
    align-items: center;
  }

  .experience-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .experience-section {
    height: 550px;
    padding: 20px;
  }

  .experience-section .tab-links {
    border: none;
    border-bottom: 3px solid var(--ACCENT_COLOR_LIGHT);
  }

  .experience-description {
    width: 100%;
  }

  .container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .about-section {
    width: 100%;
    max-width: 100%;
  }

  .info-section {
    max-width: 100%;
  }

  section,
  .footer {
    width: 100%;
    margin: auto;
  }

  .heading-section p {
    width: 99%;
  }

  .experience-section {
    height: 590px;
  }

  #nav {
    position: fixed;
    background: var(--BASE_COLOR);
    transition: right 0.3s ease-in-out;
  }

  .mobile-nav {
    display: block;
    padding: 10px;
    transition: right 0.3s ease-in-out;
  }

  .fa-bars {
    font-size: 24px;
    cursor: pointer;
  }

  #nav ul {
    display: none;
    flex-direction: column;
    position: fixed;
    text-align: left;
    top: 0px;
    left: 0;
    background-color: var(--BASE_COLOR);
    border-right: 1px solid var(--ACCENT_COLOR);
    padding: 0.5rem;
    z-index: 10000;
    height: 100vh;
    width: 200px;
    color: var(--SECONDARY_COLOR);
    transition: right 0.3s ease-in-out;
  }

  .nav-top-spacing {
    padding-top: 3rem;
  }
  .menu-bar {
    display: flex;
    justify-content: end;
    padding: 10px;
    margin-bottom: 5px;
  }

  nav ul li a {
    text-align: left;
    font-size: 1rem;
  }

  #nav-links {
    display: none;
  }

  #nav-links.active {
    display: block;
  }

  #welcome-section {
    padding-top: 10rem;
  }

  .tech-grid {
    padding: 0;
  }

  .project-mobile-show-hide {
    display: block;
  }
  .project-desktop-show-hide {
    display: none;
  }
}

@media (max-width: 550px) {
  .project-mobile {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 460px) {
  ul img {
    width: 20px;
  }

  .mobile img {
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .para {
    width: 100%;
    margin: auto;
  }

  .list {
    width: 100%;
    margin: auto;
  }

  .list ul {
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .tech-item p {
    font-size: 20px;
  }

  .experience-section {
    height: 600px;
  }
}

@media (max-width: 375px) {
  .experience-section {
    height: 790px;
  }

  .info-section h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
